// $primary-color: #039103;
$secondary-color: #FFC107;

$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

:export {
  primary-color-dark: $primary-color-dark;
  primary-color: $primary-color;
  primary-color-light: $primary-color-light;
  primary-color-text: $primary-color-text;
  accent-color: $accent-color;
  primary-text-color: $primary-text-color;
  secondary-text-color: $secondary-text-color;
  divider-color: $divider-color;

  secondaryColor: $secondary-color;
}